# Customer Feedback Dataset

This dataset contains customer sentiments expressed in various sources such as social media, review platforms, testimonials, and more. The dataset includes text, sentiment (positive or negative), source of the sentiment, date/time of the sentiment, user ID, location, and confidence score. The sentiments reflect customers' opinions and experiences with products, services, movies, music, books, restaurants, websites, customer support, and more.

Will be using this dataset to practice cleaning data

## First Step is to import the needed libraries.

In [12]:
import pandas as pd # data processing
import numpy as np # linear algebra

## Second step is to read the data

In [15]:
data = pd.read_csv("sentiment-analysis.csv")
data.head(20)

   Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score
0   "I love this product!", Positive, Twitter, 202...
1   "The service was terrible.", Negative, Yelp Re...
2   "This movie is amazing!", Positive, IMDb, 2023...
3   "I'm so disappointed with their customer suppo...
4   "Just had the best meal of my life!", Positive...
5   "The quality of this product is subpar.", Nega...
6   "I can't stop listening to this song. It's inc...
7   "Their website is so user-friendly. Love it!",...
8   "I loved the movie! It was fantastic!", Positi...
9   "The customer service was terrible.", Negative...
10  "This book made me feel inspired. Highly recom...
11  "I'm extremely disappointed with their product...
12  "Just had the most amazing vacation! I can't w...
13  "The food at this restaurant was awful. Never ...
14  "I can't stop listening to this song. It's my ...
15  "Their website is so confusing and poorly desi...
16  "I had an incredible experience at the theme p...
17  "The product arrived damaged. Very disappointe...
18  "The concert was absolutely breathtaking. Best...
19  "I had a terrible experience with their custom...

## We Can start to Clean this Data

First we should see the dimensions of the data and if we have any null values.

In [19]:
data.info

<bound method DataFrame.info of    Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score
0   "I love this product!", Positive, Twitter, 202...
1   "The service was terrible.", Negative, Yelp Re...
2   "This movie is amazing!", Positive, IMDb, 2023...
3   "I'm so disappointed with their customer suppo...
4   "Just had the best meal of my life!", Positive...
..                                                ...
93  "I can't stop listening to this song. It's my ...
94  "Their website is so confusing and poorly desi...
95  "I had an incredible experience at the theme p...
96                                                NaN
97                                                NaN

[98 rows x 1 columns]>

In [21]:
dataN = data.dropna()
dataN.info

<bound method DataFrame.info of    Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score
0   "I love this product!", Positive, Twitter, 202...
1   "The service was terrible.", Negative, Yelp Re...
2   "This movie is amazing!", Positive, IMDb, 2023...
3   "I'm so disappointed with their customer suppo...
4   "Just had the best meal of my life!", Positive...
..                                                ...
91  "Just had the most amazing vacation! I can't w...
92  "The food at this restaurant was awful. Never ...
93  "I can't stop listening to this song. It's my ...
94  "Their website is so confusing and poorly desi...
95  "I had an incredible experience at the theme p...

[96 rows x 1 columns]>

**A total of 2 values were NAN or null. The .dropna() function removed these. As a reminder, do not alter the raw data**

## Unravel the Data

Now that the null values have been dropped we can separate into columns

The columns are separated by ",". Will have to separate these as such.

In [24]:
NewData = pd.DataFrame(columns = ["Text", "Sentiment", "Source", "Date/Time", "User ID", "Location", "Confidence Score"])
for i in dataN.index:
    aux = dataN.iloc[i, 0].split(",")
    NewData.loc[len(NewData)] = aux
NewData.head(5)

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85
1,"""The service was terrible.""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,"""This movie is amazing!""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88

This is now separated. Will need to ensure we have no null values.

In [32]:
NANDATA= NewData.notnull()
NANDATA.info

<bound method DataFrame.info of     Text  Sentiment  Source  Date/Time  User ID  Location  Confidence Score
0   True       True    True       True     True      True              True
1   True       True    True       True     True      True              True
2   True       True    True       True     True      True              True
3   True       True    True       True     True      True              True
4   True       True    True       True     True      True              True
..   ...        ...     ...        ...      ...       ...               ...
91  True       True    True       True     True      True              True
92  True       True    True       True     True      True              True
93  True       True    True       True     True      True              True
94  True       True    True       True     True      True              True
95  True       True    True       True     True      True              True

[96 rows x 7 columns]>

## This concludes the Data Clean up for Python. While more can be done, this was not the goal for this project. Will Continue in Tableau.

In [34]:
NewData.to_csv('CFD_Clean_Data.csv')